$white : #ffffff;
$black : #3C3D41;
$lightgray : #f2f2f2;
$mediumgray : #e8e8e8;
$darkgray : #9391a1;
$red : #ED1C24;
$blue : #23ABE1;
$yellow : #FFDCAB;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;
    color: $black;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.025em;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 1rem;
}

button {
    padding: 1em;
    background-color: $blue;
    border: 2px solid $blue;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: $white;
    border-radius: 6px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    border: 2px solid $blue;
    color: $blue;
    transition: 0.5s;
}

.app {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // NAVBAR
        .navbar {
            padding: 1.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $mediumgray;

            .navbar__logo img{
                width: 8rem;
                height: auto;
                border-right: 2px solid $mediumgray;
            }

            .links {
                display: flex;
                gap: 2.25rem;
                align-items: center;
                text-transform: uppercase;
            }

            .link {
                position: relative;
                letter-spacing: 0.05em;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2.35rem;
                    width: 100%;
                    height: 0;
                    background-color: transparent;
                    transition: 0.5s;
                }
            
                &:hover::after {
                    background-color: $blue;
                    height: 3px;
                }
            }

            .link__active {
                position: relative;
                letter-spacing: 0.05em;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2.35rem;
                    width: 100%;
                    height: 3px;
                    background-color: $blue;
                }
            }

            .link h6 {
                font-size: 1rem;
            }

            .navbar__line {
                border-right: 2px solid $mediumgray;
                height: 2rem;
            }
        
        }

        // FOOTER
        footer {
            width: 100%;
            padding: 1.25rem;
            background-color: $lightgray;
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            color: $darkgray;
            gap: 2rem;

            .footer__logo img{
                width: 8rem;
                height: auto;
            }
        }

        // SCANNER
        .scanner {
            height: 100%;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .scanner__title {
                font-size: 1.25rem;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }

            .scanner__container {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                width: 50%;
                height: 24rem;

                .scanner__camera-option {
                    color: $black;
                    border: 2px solid $mediumgray;
                    flex: 1;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 10px;

                    .scanner__camera-icon {
                        width: 5rem;
                    }

                    .scanner__camera-button {
                        width: 11rem;
                    }

                }

                .scanner__code-option {
                    border: 2px solid $mediumgray;
                    border-radius: 10px;
                    flex: 1;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .scanner__code-input {
                        padding: 0.5rem;
                        width: 90%;
                        border-radius: 6px;
                        border: 1px solid $darkgray;
                    }

                    .scanner__code-button {
                        width: 11rem;
                    }
                }

                .scanner__camera {
                    border: 2px solid $mediumgray;
                    border-radius: 10px;
                    flex: 1;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1.25rem;
                    gap: 1rem;

                    .scanner-container {
                        width: 330px;
                        height: 220px;
                        overflow: hidden;

                        .scanner-view video{
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    .scanner__camera-button-back {
                        width: 10rem;
                    }
                
                }

                .scanner__product {
                    border: 2px solid $mediumgray;
                    border-radius: 10px;
                    flex: 1;
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1.25rem;
                    gap: 1.5rem;

                    .scanner__product__text-container {
                        display: flex;
                        flex-direction: column;
                        gap: 0.1rem;
                        border-bottom: 2px solid $mediumgray;
                        width: 18rem;
                    }

                    .scanner__product__button-back {
                        padding: 0.25rem;
                        width: 12rem;
                    }
                }

                .scanner__section-title {
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -1rem;
                        width: 100%;
                        height: 2px;
                        background-color: $red;
                        transition: 0.5s;
                    }
                }
            }
        }

        // ALLERGENS
        .allergens {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.25rem;
            gap: 1rem;

            .allergens__title {
                font-size: 1.25rem;
                align-self: center;
                text-transform: uppercase;
                letter-spacing: 0.05em;

                margin-bottom: 1rem;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1rem;
                    width: 100%;
                    height: 2px;
                    background-color: $red;
                    transition: 0.5s;
                }
            }

            .allergens__checkboxes {
                // border: 2px solid $blue;
                // border-radius: 10px;
                // border-bottom: 2px solid $blue;
                background-color: $mediumgray;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                padding: 1.25rem;
                align-items: center;
                justify-content: space-evenly;
                flex: 4;
                font-size: 1.35rem;

                .allergens__checkbox-group {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .allergens__checkbox,
                    .allergens__checkbox input,
                    .allergens__checkbox label {
                        display: flex;
                        gap: 0.75rem;
                        cursor: pointer;
                        transition: 0.25s;

                        &:hover {
                            color: $red;
                            transition: 0.25s;
                        }
                    }
                }
            }

            .allergens__chosen {
                // border: 2px solid $blue;
                // border-radius: 10px;
                padding: 0.5rem;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.15rem;
                border-bottom: 2px solid $red;
            }

            .allergens__disclaimer {
                // border: 2px solid $mediumgray;
                // border-radius: 10px;
                padding: 0.5rem;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .allergens__disclaimer-link a{
                    text-decoration: none;
                    color: $blue;
                    transition: 0.25s;
                    text-transform: uppercase;
                }

                .allergens__disclaimer-link a:hover{
                    text-decoration: none;
                    color: $red;
                    transition: 0.25s;
                }
            }
        }

        // INFO
        .info {
            padding: 1.25rem;

            .info__title {
                font-size: 1.5rem;
            }
        }
    }
}